**/**/*.log
**/**/**/**/EWARM/SNK1M1*/
**/**/**/**/EWARM/USBPDM1*/
**/**/**/**/EWARM/DRP1M1*/
**/**/**/**/EWARM/SRC1M1*/
**/**/**/**/EWARM/*.dep
**/**/**/**/EWARM/*.ewt
**/**/**/**/EWARM/settings
**/**/**/**/MDK-ARM/SNK1M1*/
**/**/**/**/MDK-ARM/USBPDM1*/
**/**/**/**/MDK-ARM/DRP1M1*/
**/**/**/**/MDK-ARM/SRC1M1*/
**/**/**/**/MDK-ARM/RTE
**/**/**/**/MDK-ARM/DebugConfig
**/**/**/**/MDK-ARM/*.lst
**/**/**/**/MDK-ARM/*.uvguix.*
**/**/**/**/MDK-ARM/*.scvd
**/**/**/**/STM32CubeIDE/TCPP01_Consumer*/
**/**/**/**/STM32CubeIDE/SNK1M1*/
**/**/**/**/STM32CubeIDE/DRP1M1*/
**/**/**/**/STM32CubeIDE/SRC1M1*/
**/**/**/**/STM32CubeIDE/Debug/
**/**/**/**/STM32CubeIDE/Release/
**/**/**/**/STM32CubeIDE/.settings/
**/**/**/**/STM32CubeIDE/*.launch
